.brown, .brown div, .brown span { background-color: #A52A2A !important; } 
.AntiqueWhite, .AntiqueWhite div, .AntiqueWhite span { background-color: #FAEBD7 !important; } 
.Aqua, .Aqua div, .Aqua span { background-color: #00FFFF !important; } 
.Aquamarine, .Aquamarine div, .Aquamarine span { background-color: #7FFFD4 !important; } 
.Azure, .Azure div, .Azure span { background-color: #F0FFFF !important; } 
.Beige, .Beige div, .Beige span { background-color: #F5F5DC !important; } 
.Bisque, .Bisque div, .Bisque span { background-color: #FFE4C4 !important; } 
.Black, .Black div, .Black span { background-color: #000000 !important; } 
.BlanchedAlmond, .BlanchedAlmond div, .BlanchedAlmond span { background-color: #FFEBCD !important; } 
.Blue, .Blue div, .Blue span { background-color: #0000FF !important; } 
.BlueViolet, .BlueViolet div, .BlueViolet span { background-color: #8A2BE2 !important; } 
.BurlyWood, .BurlyWood div, .BurlyWood span { background-color: #DEB887 !important; } 
.CadetBlue, .CadetBlue div, .CadetBlue span { background-color: #5F9EA0 !important; } 
.Chartreuse, .Chartreuse div, .Chartreuse span { background-color: #7FFF00 !important; } 
.Chocolate, .Chocolate div, .Chocolate span { background-color: #D2691E !important; } 
.Coral, .Coral div, .Coral span { background-color: #FF7F50 !important; } 
.CornflowerBlue, .CornflowerBlue div, .CornflowerBlue span { background-color: #6495ED !important; } 
.Cornsilk, .Cornsilk div, .Cornsilk span { background-color: #FFF8DC !important; } 
.Crimson, .Crimson div, .Crimson span { background-color: #DC143C !important; } 
.Cyan, .Cyan div, .Cyan span { background-color: #00FFFF !important; } 
.DarkBlue, .DarkBlue div, .DarkBlue span { background-color: #00008B !important; } 
.DarkCyan, .DarkCyan div, .DarkCyan span { background-color: #008B8B !important; } 
.DarkGoldenRod, .DarkGoldenRod div, .DarkGoldenRod span { background-color: #B8860B !important; } 
.DarkGray, .DarkGray div, .DarkGray span { background-color: #A9A9A9 !important; } 
.DarkGreen, .DarkGreen div, .DarkGreen span { background-color: #006400 !important; } 
.DarkKhaki, .DarkKhaki div, .DarkKhaki span { background-color: #BDB76B !important; } 
.DarkMagenta, .DarkMagenta div, .DarkMagenta span { background-color: #8B008B !important; } 
.DarkOliveGreen, .DarkOliveGreen div, .DarkOliveGreen span { background-color: #556B2F !important; } 
.DarkOrange, .DarkOrange div, .DarkOrange span { background-color: #FF8C00 !important; } 
.DarkOrchid, .DarkOrchid div, .DarkOrchid span { background-color: #9932CC !important; } 
.DarkRed, .DarkRed div, .DarkRed span { background-color: #8B0000 !important; } 
.DarkSalmon, .DarkSalmon div, .DarkSalmon span { background-color: #E9967A !important; } 
.DarkSeaGreen, .DarkSeaGreen div, .DarkSeaGreen span { background-color: #8FBC8F !important; } 
.DarkSlateBlue, .DarkSlateBlue div, .DarkSlateBlue span { background-color: #483D8B !important; } 
.DarkSlateGray, .DarkSlateGray div, .DarkSlateGray span { background-color: #2F4F4F !important; } 
.DarkTurquoise, .DarkTurquoise div, .DarkTurquoise span { background-color: #00CED1 !important; } 
.DarkViolet, .DarkViolet div, .DarkViolet span { background-color: #9400D3 !important; } 
.DeepPink, .DeepPink div, .DeepPink span { background-color: #FF1493 !important; } 
.DeepSkyBlue, .DeepSkyBlue div, .DeepSkyBlue span { background-color: #00BFFF !important; } 
.DimGray, .DimGray div, .DimGray span { background-color: #696969 !important; }
.DodgerBlue, .DodgerBlue div, .DodgerBlue span { background-color: #1E90FF !important; } 
.FireBrick, .FireBrick div, .FireBrick span { background-color: #B22222 !important; } 
.FloralWhite, .FloralWhite div, .FloralWhite span { background-color: #FFFAF0 !important; } 
.ForestGreen, .ForestGreen div, .ForestGreen span { background-color: #228B22 !important; } 
.Fuchsia, .Fuchsia div, .Fuchsia span { background-color: #FF00FF !important; } 
.Gainsboro, .Gainsboro div, .Gainsboro span { background-color: #DCDCDC !important; } 
.GhostWhite, .GhostWhite div, .GhostWhite span { background-color: #F8F8FF !important; } 
.Gold, .Gold div, .Gold span { background-color: #FFD700 !important; } 
.GoldenRod, .GoldenRod div, .GoldenRod span { background-color: #DAA520 !important; } 
.Gray, .Gray div, .Gray span { background-color: #808080 !important; } 
.Green, .Green div, .Green span { background-color: #008000 !important; } 
.GreenYellow, .GreenYellow div, .GreenYellow span { background-color: #ADFF2F !important; } 
.HoneyDew, .HoneyDew div, .HoneyDew span { background-color: #F0FFF0 !important; } 
.HotPink, .HotPink div, .HotPink span { background-color: #FF69B4 !important; } 
.IndianRed, .IndianRed div, .IndianRed span { background-color: #CD5C5C !important; } 
.Indigo , .Indigo div, .Indigo span { background-color: #4B0082 !important; } 
.Ivory, .Ivory div, .Ivory span { background-color: #FFFFF0 !important; } 
.Khaki, .Khaki div, .Khaki span { background-color: #F0E68C !important; } 
.Lavender, .Lavender div, .Lavender span { background-color: #E6E6FA !important; } 